.contianer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  height: 50vh;

  div{
      display: grid;
      grid-template-columns: 8em 1em 15em;
  }
  .title{
      font-size: 3em;
  }
}