.main {
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 2em;
  .container {
    background-image: url("../../assets/image/background.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 50vw;
    min-height: 90vh;
    background-size: cover;
    display: flex;
    justify-content: center;
  }
  .loginContainer {
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
    .title {
      font-size: 2em;
      color: rgb(223, 27, 125);
      text-align: center;
      width: 80%;
      font-family: "Fuzzy Bubbles", cursive;
    }
    .register {
      color: rgb(105, 159, 241);
      text-decoration: underline;
      cursor: pointer;
      text-decoration: none;
      width: 15em;
    }
    .inlineField {
      display: flex;
      gap: 2em;
      justify-content: center;
    }
    .btnContainer {
      align-self: center;
    }
  }
}
